li{
    list-style: none;
}
.listing{
    display: flex;
    justify-content: center;
    column-gap: 27px;
    background-color: black;
    width: 33%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
.listing li a{
    color: #fff;
}
.listing a:global(.active){
color: red;
font-weight: bold;
}